@(tournaments: List[Models.TournamentDTO])
@main("Your fantasy teams", nav = "signup") {
    @for(tournament <- tournaments){
        <div class="row">
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>Tournament name</dt>
                    <dd>@tournament.getTournamentName()</dd>
                    <dt>Entry fee</dt>
                    <dd>@tournament.getEntry_fee</dd>

                    <dt>Start time</dt>
                    <dd>@tournament.getStart_time<dd>

                    <dt>End time</dt>
                    <dd>@tournament.getEnd_time</dd>

                    <dt>Max entries</dt>
                    <dd>@tournament.getMaxentries</dd>
                    </dl>

                    <h2>Your team</h2>
                    <dl class="dl-horizontal">
                        @for(player <- tournament.getAvailable_players){
                            @for(pos <- player.getPositions){
                                <dd>@pos.getName</dd>
                            }
                            <dd>@player.getFirstname @player.getLastname - @player.getTeamDTO().getName</dd>
                        }
                    </dl>
            </div>
        </div>
    }
}