@(tournament: is.rufan.tournament.domain.Tournament,
        games: List[is.rufan.team.domain.Game],
        fantasy_players : List[is.rufan.player.domain.Player],
        select_players : Models.SelectPlayersDTO,
        fantasyTeamFrom : Form[Models.FantasyTeamViewModel])

@main(tournament.getName(), nav = "signup") {

    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>Entry fee</dt>
            <dd>@tournament.getEntryFee()</dd>

            <dt>Start time</dt>
            <dd>@tournament.getStartTime()<dd>

            <dt>End time</dt>
            <dd>@tournament.getEndTime()</dd>

            <dt>Max entries</dt>
            <dd>@tournament.getMaxEntries()</dd>

            <dt>Games</dt>
            <dd>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Home team</th>
                            <th>Away team</th>
                            <th>Venue</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(game <- games) {
                        <tr>
                            <td>@game.getTeamHome.getDisplayName</td>
                            <td>@game.getTeamAway.getDisplayName</td>
                            <td>@game.getVenue.getName</td>
                            <td>@game.getStartTime</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </dd>
        </dl>
    </div>
        @if(fantasy_players != null ) {
            <h2>Your fantasy team</h2>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Postions</th>
                            <th>Team</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(player <- fantasy_players) {
                        <tr>
                            <td>@player.getFirstName @player.getLastName </td>
                            <td>
                                <ul>
                                    @for(pos <- player.getPositions) {
                                        <li>@pos.getName (@pos.getAbbreviation())</li>
                                    }
                                </ul>
                            </td>
                        </tr>
                        <tr></tr>
                    }
                    </tbody>
                </table>
            </div>
        } else {
            @helper.form(action = routes.TournamentController.enroll(tournament.getTournamentid)) {
                <div class="col-md-12">
                    <h2>Pick players</h2>
                    <div class="row">
                        <h3>Goalkeeper</h3>
                        <select name="goalkeeper">
                            <option value="">Select a goalkeeper</option>
                            @for(player <- select_players.getGK) {
                                <option value="@player.getPlayerid">@player.getFirstname @player.getLastname
                                    - @player.getTeamDTO.getName</option>
                            }
                        </select>
                    </div>
                    <div class="row">
                        <h3>Defenders</h3>
                        <select name="defender1">
                            <option value="">Select a defender</option>
                            @for(player <- select_players.getD) {
                                <option value="@player.getPlayerid">@player.getFirstname @player.getLastname
                                    - @player.getTeamDTO.getName</option>
                            }
                        </select>
                        <select name="defender2">
                            <option value="">Select a defender</option>
                            @for(player <- select_players.getD) {
                                <option value="@player.getPlayerid">@player.getFirstname @player.getLastname
                                    - @player.getTeamDTO.getName</option>
                            }
                        </select>
                        <select name="defender3">
                            <option value="">Select a defender</option>
                            @for(player <- select_players.getD) {
                                <option value="@player.getPlayerid">@player.getFirstname @player.getLastname
                                    - @player.getTeamDTO.getName</option>
                            }
                        </select>
                        <select name="defender4">
                            <option value="">Select a defender</option>
                            @for(player <- select_players.getD) {
                                <option value="@player.getPlayerid">@player.getFirstname @player.getLastname
                                    - @player.getTeamDTO.getName</option>
                            }
                        </select>
                    </div>
                    <div class="row">
                        <h3>Midfielders</h3>
                        <select name="medfileder1">
                            <option value="">Select a medfileder</option>
                            @for(player <- select_players.getM) {
                                <option value="@player.getPlayerid">@player.getFirstname @player.getLastname
                                    - @player.getTeamDTO.getName</option>
                            }
                        </select>
                        <select name="medfileder2">
                            <option value="">Select a medfileder</option>
                            @for(player <- select_players.getM) {
                                <option value="@player.getPlayerid">@player.getFirstname @player.getLastname
                                    - @player.getTeamDTO.getName</option>
                            }
                        </select>
                        <select name="medfileder3">
                            <option value="">Select a medfileder</option>
                            @for(player <- select_players.getM) {
                                <option value="@player.getPlayerid">@player.getFirstname @player.getLastname
                                    - @player.getTeamDTO.getName</option>
                            }
                        </select>
                        <select name="medfileder4">
                            <option value="">Select a medfileder</option>
                            @for(player <- select_players.getM) {
                                <option value="@player.getPlayerid">@player.getFirstname @player.getLastname
                                    - @player.getTeamDTO.getName</option>
                            }
                        </select>
                    </div>
                    <div class="row">
                        <h3>Strikers</h3>
                        <select name="strikers1">
                            <option value="">Select a strikers</option>
                            @for(player <- select_players.getF) {
                                <option value="@player.getPlayerid">@player.getFirstname @player.getLastname
                                    - @player.getTeamDTO.getName</option>
                            }
                        </select>
                        <select name="strikers2">
                            <option value="">Select a strikers</option>
                            @for(player <- select_players.getF) {
                                <option value="@player.getPlayerid">@player.getFirstname @player.getLastname
                                    - @player.getTeamDTO.getName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="actions">
                    <input type="submit" class="btn primary" value="Join tournament">
                    <a href="@routes.Application.index" class="btn">Cancel</a>
                </div>
            }
        }
}