@(tournament: is.rufan.tournament.domain.Tournament,
        games: List[is.rufan.team.domain.Game],
        fantasy_players : List[is.rufan.player.domain.Player],
        select_players : Models.SelectPlayersDTO)

@main(tournament.getName(), nav = "signup") {

    <div class="col-md-9">
        <dl class="dl-horizontal">
            <dt>Entry fee</dt>
            <dd>@tournament.getEntryFee()</dd>

            <dt>Start time</dt>
            <dd>@tournament.getStartTime()<dd>

            <dt>End time</dt>
            <dd>@tournament.getEndTime()</dd>

            <dt>Max entries</dt>
            <dd>@tournament.getMaxEntries()</dd>

            <dt>Games</dt>
            <dd>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Home team</th>
                            <th>Away team</th>
                            <th>Venue</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(game <- games) {
                        <tr>
                            <td>@game.getTeamHome.getDisplayName</td>
                            <td>@game.getTeamAway.getDisplayName</td>
                            <td>@game.getVenue.getName</td>
                            <td>@game.getStartTime</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </dd>
            @if(fantasy_players != null || !fantasy_players.isEmpty) {
                <dt>Players</dt>
                <dd>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Postions</th>
                                <th>Team</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(player <- fantasy_players) {
                            <tr>
                                <td>@player.getFirstName @player.getLastName </td>
                                <td>
                                    <ul>
                                        @for(pos <- player.getPositions) {
                                            <li>@pos.getName (@pos.getAbbreviation())</li>
                                        }
                                    </ul>
                                </td>
                            </tr>
                            <tr></tr>
                        }
                        </tbody>
                    </table>
                </dd>
            } else {
                <dt>Pick players</dt>
                <dd>
                    <select name="goalkeeper">
                        @for(player <- select_players.getGK) {
                            <option value="@player.getPlayerid">@player.getFirstname @player.getLastname</option>
                        }
                    </select>
                    <select name="defender">
                    @for(player <- select_players.getD) {
                        <option value="@player.getPlayerid">@player.getFirstname @player.getLastname</option>
                    }
                    </select>
                </dd>
            }
        </dl>
    </div>
    <div class="col-md-3">
        <a href="TODO" class="btn btn-lg btn-primary col-md-12">Entroll</a>
    </div>
}